* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Staatliches', cursive;
    background: url(tokyo.jpeg);
    color: whitesmoke;
    height: auto;
    width: auto;

}

.title {
    font-family: 'Staatliches', cursive;
    font-size: 66px;
    padding-left: 45px;
}

.input {
   
    margin: auto;
    margin-left: 50px;

}

input[type="text"]{
    height: 50px;
    width: 400px;
    background: #e7e7e7;
    font-family: 'Staatliches', cursive;
    
    font-size: 20px;
    border: none;
    border-radius: 2px;
    padding: 10px 10px;
}

input[type="submit"]{
    height: 50px;
    width: 80px;
    background: #e7e7e7;
    font-family: 'Staatliches', cursive;
    
    font-size: 20px;
    border: none;
    border-radius: 2px;
}

input[type="clear"]{
    height: 50px;
    width: 80px;
    background: #e7e7e7;
    font-family: 'Staatliches', cursive;
    
    font-size: 20px;
    border: none;
    border-radius: 2px;
}

.numberList {
    font-size: 25px;
    padding-left: 65px;
}


#map {
    display: flexbox;
    position: relative;
    margin: auto;
    top: 150px;
    width: 40%;
    height: 550px;
    background-color: gray;

}

